body{
    background-color: #191049;
}

h1 {
    font-family: 'Montserrat', sans-serif;
  }

p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
  }

h1{
    color: #fff;
}

p{
    color: #fff;
}

img{
    border-radius: 10px;
    border: 1px solid #fff;
}

.zoom:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
}

.espaco{
margin-right: 10px;
font-size: 20px;

 
}

.imagem{
    width: 500px;
    height: 700px;
}







  

