body{
    background-image: url(../../../assets/img/background_login.png);
    background-position: center center;
    background-size: cover;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
}
.container2{
    background-color: rgba(20, 84, 121, 0.74);
    margin: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left:2%;
    padding-right: 5%;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 8px 8px 10px black;
    border-radius: 20px;
}
.animated-popcor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.animated-popcorn img{
    width: 30vh;
}
.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
    white-space: nowrap;
}
.links a{
    margin-left: 2%;
    margin-right: 2%;

}
.links h5{
    margin: 0;
    padding: 0;
    
}
.logos-login{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
h3{
    margin-top: 1%;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
}
.google-logo{
    width: 70px;
}
.google-logo:hover{
    scale: 1.2;
}
.google-logo:active{
    scale: 1.3;
}
.facebook_logo{
    width: 30px;
    margin-right: 5%;
}
.facebook_logo:hover{
    scale: 1.1;
}
.facebook_logo:active{
    scale: 1.2;

}
.title_social_login{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.forgotpassword{
    outline: none;
    text-decoration: none;
    color: aliceblue;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 1s;
    text-transform: uppercase;
    font-size: 12px;
}
.forgotpassword strong:hover{
    color: rgb(0, 255, 225);
    transition: 1s;
}
.forgotpassword a:hover{
    color: rgb(0, 255, 225);

}
.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 5%;
}
.form-login h1{
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;    
    margin: 0;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.808);
}
.img-gif{
    background-color: red;
}